<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>NAVER I&amp;S</title>
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="../css/ins.css">
</head>
<body>
<div id="wrap" class="ins">
    <!-- [D] 모바일 일 때 .is-active 추가 -->
    <header class="header">
      <div class="ins__inner">
        <h1 class="header__home">
          <a href="#" class="header__link">
            <span class="blind">NAVER I&amp;S</span>
          </a>
        </h1>
        <div class="menu-pc">
          <nav class="navigation">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a href="#naver" class="navigation__link">
                  <span class="navigation__text">naver i&amp;s</span>
                </a>
              </li>
              <li class="navigation__item">
                <a href="#service" class="navigation__link">
                  <span class="navigation__text">service</span>
                </a>
              </li>
              <li class="navigation__item">
                <a href="#contact" class="navigation__link">
                  <span class="navigation__text">contact</span>
                </a>
              </li>
              <li class="navigation__item navigation__item--arrow">
                <a href="#careers" class="navigation__link">
                  <span class="navigation__text">careers</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- [D] 햄버거 버튼 -->
        <button class="menu-mo__button">
          <span class="blind">모바일 메뉴 열기</span>
        </button>
        <!-- [D] 햄버거 버튼 클릭 시 ins 클래스에 is-active 추가 -->
        <div class="menu-mo">
            <h2 class="menu-mo__home">
              <a href="#" class="menu-mo__link">
                <span class="blind">NAVER I&amp;S</span>
              </a>
            </h2>
            <ul class="menu-mo__list">
              <li class="menu-mo__item">
                <a href="#naver" class="menu-mo__menu">NAVER I&amp;S</a>
              </li>
              <li class="menu-mo__item">
                <a href="#service" class="menu-mo__menu">SERVICE</a>
              </li>
              <li class="menu-mo__item">
                <a href="#contact" class="menu-mo__menu">CONTACT</a>
              </li>
              <li class="menu-mo__item menu-mo__item--green">
                <a href="#careers" class="menu-mo__menu">CAREERS</a>
              </li>
            </ul>
            <button class="menu-mo__close" type="button">
              <span class="blind">모바일 메뉴 닫힘</span>
            </button>
        </div>
      </div>
    </header>
    <main class="main">
      <section class="intro">
        <h2 class="blind">NAVER I&amp;S Carousel</h2>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../image/pc_kv_img_01.png" class="swiper-img" alt="" />
              <p class="swiper__desc">직원과 가장 가까이에서<br class="br-mo"> 직접 소통하며<br class="br-pc">더 나은 업무 환경과<br class="br-mo"> 직원서비스를 만듭니다.</p>
            </div>
            <div class="swiper-slide">
              <p class="swiper__desc">직원의 일상 생활<br class="br-mo"> 모든 곳에<br class="br-pc">우리의 손길이<br class="br-mo"> 닿아 있습니다.</p>
              <img src="../image/pc_kv_img_02.png" class="swiper-img" alt="" />l
            </div>
            <div class="swiper-slide">
              <p class="swiper__desc">임직원의 목소리에서<br>우리 일의 자부심과<br class="br-mo"> 무게를 느낍니다.</p>
              <img src="../image/pc_kv_img_03.png" class="swiper-img" alt="" />
            </div>
          </div>
          <div class="swiper-wrap">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </section>
      <section id="naver" class="about">
        <div class="ins__inner">
          <h3 class="ins__title">NAVER I&amp;S</h3>
          <p class="ins__desc">네이버아이앤에스는 2009년 네이버㈜의<br class="br-mo"> 경영지원 Staff 기능을 별도 분할하여 출범한<br class="br-mo"> <strong>경영지원서비스 전문기업</strong>입니다.</p>
          <p class="ins__desc">네이버 및 관계사를 고객으로 하여 차별화된<br class="br-mo"> 업무환경 및 직원서비스를 통합적으로 제공하고<br class="br-mo"> 있으며<br class="br-pc"> 고객사에 없는 Staff 기능들을 단독 수행함으로써<br class="br-mo"> 전사 공통 경영지원 인프라로서의 역할을<br class="br-mo"> 담당하고 있습니다.</p>
          <ul class="about__list">
            <li class="about__item about__item--company">
              <span class="about__title">회사명</span>
              <span class="about__desc">네이버아이앤에스<br> 주식회사</span>
            </li>
            <li class="about__item about__item--date">
              <span class="about__title">설립일</span>
              <span class="about__desc">2009년 3월 1일</span>
            </li>
            <li class="about__item about__item--ceo">
              <span class="about__title">대표자</span>
              <span class="about__desc">노세관</span>
            </li>
            <li class="about__item about__item--work">
              <span class="about__title">주요사업</span>
              <span class="about__desc">사업지원서비스 및<br>사업시설관리</span>
            </li>
            <li class="about__item about__item--num">
              <span class="about__title">사업자등록번호</span>
              <span class="about__desc">129-86-30212</span>
            </li>
          </ul>
        </div>
      </section>
      <section class="company">
        <div class="ins__inner">
          <h2 class="ins__title">주요 관계사</h2>
          <p class="ins__desc">네이버아이앤에스의 고객이자 함께 협업하며 경험과 노하우를 공유하는 주요 관계사입니다.</p>
          <ul class="company__list">
            <li class="company__item company__item--naver">
              <a href="https://www.navercorp.com/" class="company__link" target="_blank" title="새창열기">
                <span class="blind">네이버</span>
              </a>
            </li>
            <li class="company__item company__item--line">
              <a href="https://linepluscorp.com/" class="company__link" target="_blank" title="새창열기">
                <span class="blind">라인</span>
              </a>
            </li>
            <li class="company__item company__item--cloud">
              <a href="https://www.navercloudcorp.com/" class="company__link" target="_blank" title="새창열기">
                <span class="blind">네이버 클라우드</span>
              </a>
            </li>
            <li class="company__item company__item--finance">
              <a href="https://www.naverfincorp.com/main" class="company__link" target="_blank" title="새창열기">
                <span class="blind">네이버 파이낸셜</span>
              </a>
            </li>
            <li class="company__item company__item--labs">
              <a href="https://www.naverlabs.com/" class="company__link" target="_blank" title="새창열기">
                <span class="blind">네이버 랩스</span>
              </a>
            </li>
            <li class="company__item company__item--webtoon">
              <a href="https://webtoonscorp.com/" class="company__link" target="_blank" title="새창열기">
                <span class="blind">웹툰</span>
              </a>
            </li>
            <li class="company__item company__item--snow">
              <a href="https://snowcorp.com/ko_KR/" class="company__link" target="_blank" title="새창열기">
                <span class="blind">스노우</span>
              </a>
            </li>
            <li class="company__item company__item--works">
              <a href="https://naver.worksmobile.com/" class="company__link" target="_blank" title="새창열기">
                <span class="blind">웍스 모바일</span>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section id="service" class="service">
        <div class="ins__inner">
          <div class="ins__title-wrap">
            <h3 class="ins__title">SERVICE</h3>
          </div>
          <div class="service__intro">
            <h3 class="service__subtitle--en">Shared Service</h3>
            <p class="service__subtitle--ko" role="doc-subtitle">전사 공통 경영지원 통합서비스</p>
            <div class="service__sort-wrap">
              <p class="service__sort">
                <span class="service__sort-text">Employee<br> Service</span>
              </p>
              <p class="service__sort">
                <span class="service__sort-text">Space &amp; Facility<br> Service</span>
              </p>
              <p class="service__sort">
                <span class="service__sort-text">Finance /<br> Procurement<br> Service</span>
              </p>
              <p class="service__sort">
                <span class="service__sort-text">Architecture &amp;<br> Space Experience <br class="br-mo">Service</span>
              </p>
            </div>
            <div class="ins__desc-wrap">
              <p class="ins__desc">Shared Service는 빠르게 변화하는 IT 산업환경과 네이버/관계사의 지속적인 성장으로 수반되는 법인 변동<span class="ins__desc--light">(분사/인수/합병)</span>,사업장 추가 확장 등의 상황에 효율적으로 대응할 수 있는<strong class="ins__desc--strong">전사 공통 경영지원 통합인프라 서비스</strong>입니다.</p>
              <p class="ins__desc">네이버의 경영철학과 기업문화에 기반한 각 분야별 전문적인 서비스 제공을 통해 임직원이 오직 비즈니스에만 몰입 할 수 있는 최상의 환경을 빠르게 구축하고 안정적으로 운영합니다.</p>
              <p class="ins__desc">이를 통해 각 사에서는 네이버 및 관계사 공통의 문화와 서비스 가치를 공유하며 최소한의 Staff 인력으로 비즈니스를 효율적으로 수행해 나갈 수 있습니다.</p>
            </div>
          </div>
          <ul class="service__list">
            <li class="service__item">
              <a href="#" class="service__link" role="button">
                <h4 class="service__title">Employee<br>Service</h4>
                <img src="../image/pc_employee-service_img.png" alt="">
                <span class="service__button">더보기</span>
              </a>
            </li>
            <li class="service__item">
              <a href="#" class="service__link" role="button">
                <h4 class="service__title">Space &amp; Facility<br>Service</h4>
                <img src="../image/pc_space-&-facility-service.png" alt="">
                <span class="service__button">더보기</span>
              </a>
            </li>
            <li class="service__item">
              <a href="#" class="service__link" role="button">
                <h4 class="service__title">Finance / Procurement<br>Service</h4>
                <img src="../image/pc_finance-procurement-service_img.png" alt="">
                <span class="service__button">더보기</span>
              </a>
            </li>
            <li class="service__item">
              <a href="#" class="service__link" role="button">
                <h4 class="service__title">Architecture &amp;<br>Space Experience Service</h4>
                <img src="../image/architecture-&-space-Experience-service_img.png" alt="">
                <span class="service__button">더보기</span>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section id="contact" class="contact">
          <div class="contact__inner">
            <h3 class="ins__title">CONTACT</h3>
            <address class="address">
              <span class="address__company">본사</span>
              <p class="address__company--ko">경기도 성남시 분당구 정자일로 95, 17층<br class="br-mo"> (정자동, 네이버 1784)</p>
              <p class="address__company--en"> 17th Fl., NAVER 1784, 95, Jeongjail-ro, Bundang-gu, Seongnam-si,<br>Gyeonggi-do, Republic of Korea</p>
              <ul class="address__list">
                <li class="address__item">
                  <span class="address__sort">Tel.</span>
                  <a href="tel:15663950" class="address__text">1566 - 3950</a>
                </li>
                <li class="address__item">
                  <span class="address__sort">Fax.</span>
                  <a href="tel:0317841000" class="address__text">031 - 784 - 1000</a>
                </li>
              </ul>
            </address>
          </div>
        <div class="contact__map">
          <!-- [D] API -->
        </div>
      </section>
      <section id="recruit" class="recruit">
        <div class="ins__inner">
          <h3 id="careers" class="ins__title">CAREERS</h3>
          <p class="ins__desc">우리는 네이버 및 관계사 직원들의 가장 가까이에서 직접적인 소통과 피드백을 통해<br class="br-pc"> 더 나은 업무 환경과 직원 서비스를 고민하고 개선합니다.</p>
          <p class="ins__desc">Staff 역할에 대한 새로운 시각과 마인드로 의미 있는 여정을 함께할 동료를 기다립니다.</p>
          <a href="https://recruit.naverins.com/" class="recruit-link" target="_blank" title="새창열기">채용 바로가기</a>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="ins__inner">
        <div class="footer__policy">
          <a href="https://www.naverins.com/view/privacy.html" class="footer__link" >개인정보 처리방침</a>
          <a href="https://audit.navercorp.com/audit/auditCounsel" class="footer__link">기업윤리 상담센터</a>
          <p class="footer__copyright">Copyright &copy; NAVER I&amp;S Corp. All Rights Reserved.</p>
        </div>
        <div class="footer__site">
          <button id="familySite" class="footer__button" type="button" aria-haspopup="true" aria-expanded="false" aria-controls="site">관련 사이트</button>
          <ul id="site" class="footer__list" role="region" aria-labelledby="familySite">
            <li class="footer__item">
              <a href="https://www.naver.com/" class="footer__company" target="_blank" title="새창이동">NAVER</a>
            </li>
            <li class=" footer__item">
              <a href="https://linepluscorp.com/" class="footer__company" target="_blank" title="새창이동">LINE</a>
            </li>
            <li class="footer__item">
              <a href="https://www.navercloudcorp.com/" class="footer__company" target="_blank" title="새창이동">NAVER Cloud</a>
            </li>
            <li class="footer__item">
              <a href="https://naverfincorp.com/" class="footer__company" target="_blank" title="새창이동">NAVER Financial</a>
            </li>
            <li class="footer__item">
              <a href="https://www.naverlabs.com/" class="footer__company" target="_blank" title="새창이동">NAVER LABS</a>
            </li>
            <li class="footer__item">
              <a href="https://webtoonscorp.com/" class="footer__company" target="_blank" title="새창이동">NAVER Webtoon</a>
            </li>
            <li class="footer__item">
              <a href="https://www.snowcorp.com/" class="footer__company" target="_blank" title="새창이동">SNOW</a>
            </li>
            <li class="footer__item">
              <a href="https://worksmobile.com/" class="footer__company" target="_blank" title="새창이동">Works Mobile</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
   
    <div class="layer-popup">
      <div class="layer-popup__dimmed"></div>
      <div class="layer-popup__inner">
        <div id="employee" class="popup popup__employee">
            <div class="intro">
              <h3 class="intro__title">Employee<br>Service</h3>
              <p class="intro__desc">'일'의 범주를 넘어 직원 개인의 '삶'과 '건강'에 이르기까지 다양한 복리후생/업무<br>지원 제도와 편의시설을 운영·관리합니다. 임직원과 가장 맞닿아 있는 서비스로<br>생생한 직원 보이스와 피드백을 통해 더 나은 서비스를 만듭니다.</p>
            </div>
            <div class="recruit-wrap">
              <a href="https://recruit.naverins.com/" class="recruit-link" target="_blank">채용 바로가기</a>
            </div>
            <section class="about">
              <ul class="about__list">
                <li class="about__item about__item--benefit">
                  <h5 class="about__title">복리후생</h5>
                  <p class="about__desc">건강하고 다채로운 먹거리부터, 정신적/신체적<br>건강케어, 충분한 휴식과 충전, 가족과 생활안정에<br>이르기까지 직원의 Work & Life를 위해 마련된<br>각종 복지프로그램과 시설들을 여러 파트너사와 함<br>께 계획하고 안정적으로 운영합니다. 제도 본질에<br>대한 통찰과, 운영 과정에서의 새로운 시도를 통해<br>진화하는 복리후생서비스를 제시하고 만들어 나갑니다.</p>
                </li>
                <li class="about__item about__item--support">
                  <h5 class="about__title about__title">총무지원/자산관리</h5>
                  <p class="about__desc">각종 교육 및 업무지원 제도를 운영하고 개선합니다.<br>비즈니스 환경에 발맞춘 차별화 된 제도를 수립,<br>개인에게 최적화된 업무장비 및 소프트웨어를<br>지원하고 시스템을 통해 지원 현황을 체계적으로<br>관리/분석함으로써 업무지원 서비스의 새로운<br>인사이트를 도출합니다. 업무지원센터, 사내문의<br>채널 등 임직원의 업무 몰입을 돕는 전사 시스템을<br>구축계를 구현합니다.</p>
                </li>
                <li class="about__item about__item--pay">
                  <h5 class="about__title about__title">급여</h5>
                  <p class="about__desc">급여/퇴직금 신청 및 지급, 사회보험 관리, 연말정산,<br>원천세 신고 등 임직원 급여 관련 통합서비스를<br>제공합니다. 새로운 임금 및 보상제도 설계 시 근로<br>소득 측면의 이슈들을 각 사 HR과 함께 검토합니다.<br>변화하는 근로기준법/소득세법에 맞춰 전사 공통<br>급여시스템을 수시 개선하는 동시에 연말정산 챗봇,<br>증명서 발급시스템 등 직원 편의를 위한 기능들을<br>발굴하여 적용합니다.</p>
                </li>
              </ul>
            </section>
          <button class="popup-section__button--close" type="button">
            <span class="blind">닫기</span>
          </button>
          <button class="popup-section__button--next" type="button">
            <span class="blind">다음</span>
          </button>
        </div>
        </div>

      <div class="layer-popup__inner">
        <div id="financial" class="popup popup__financial">
            <div class="intro">
              <h3 class="intro__title">Finance / Procurement<br>Service</h3>
              <p class="intro__desc">현업 서비스에 대한 구체적인 이해를 바탕으로 함께 변화하고 성장하며<br>고객사 재무 &amp; 구매 업무를 전사 정책에 얼라인하여 효율적으로 지원합니다.</p>
            </div>
            <div class="recruit-wrap">
              <a href="https://recruit.naverins.com/" class="recruit-link" target="_blank">채용 바로가기</a>
            </div>
          <section class="about">
            <ul class="about__list">
              <li class="about__item about__item--finance">
                <h5 class="about__title">재무지원</h5>
                <p class="about__desc">국내/해외 계열사의 회계 및 원천세·부가세 등<br>세무업무를 수행하고 공시와 회계감사에 대응하는<br>등 계열사 전반의 재무 관련 업무가 원활하게 이뤄<br>질 수 있도록 지원합니다.</p>
              </li>
              <li class="about__item about__item--purchase">
                <h5 class="about__title">구매</h5>
                <p class="about__desc">Shared Service 과정에서 필요한 각종 유형의<br>매/계약을 체결하고 관리합니다. 파트너시스템을<br>접 운영 관리함으로써 효율적인 구매/계약<br>프로세스를 구현하고 안정적인 공급체계 확보,<br>예산 내 집행과 원가절감을 위해 노력합니다.<br>파트너 상생과 상호 간의 공정한 거래 경험이<br>자연스레 동반성장으로 이어집니다.
                </p>
              </li>
            </ul>
          </section>
          <button class="popup-section__button-close" type="button">
            <span class="blind">닫기</span>
          </button>
          <button class="popup-section__button-next" type="button">
            <span class="blind">다음</span>
          </button>
        </div>
      </div>

      <div  class="layer-popup__inner">
        <div id="space" class="popup popup__space">
            <div class="intro">
              <h3 class="intro__title">Space &amp; Facility<br>Service</h3>
              <p class="intro__desc">더 나은 건물/시설 및 공간운영에 대한 지속적인 고민과 신기술 접목을 통해<br>네이버 건물의 수명과 가치를 향상시키고, 임직원이 업무에 몰입할 수 있는<br>최적의 공간을 만들어 나갑니다.</p>
            </div>
            <div class="recruit-wrap">
              <a href="https://recruit.naverins.com/" class="recruit-link" target="_blank">채용 바로가기</a>
            </div>
            <section class="about">
              <ul class="about__list">
                <li class="about__item about__item--infra">
                  <h5 class="about__title">시설/인프라</h5>
                  <p class="about__desc">그린팩토리, 1784, 커넥트원 등 네이버 자가 사옥의<br>시설 인프라를 총괄 운영합니다. 최고 레벨의 친환경<br>건물을 목표로 스마트빌딩관리 &amp; 에너지관리시스템<br>을 기획/구축하고, 시설운영 전문 파트너사와의 협력<br>운영을 통해 최적의 빌딩관리 서비스를 제공합니다.</p>
                </li>
                <li class="about__item about__item--space">
                  <h5 class="about__title">공간운영</h5>
                  <p class="about__desc">네이버 및 관계사의 빠른 조직변화에 최적화 된<br>공간운영 프로세스를 정립하여 임대차계약,<br>공간구성, 조경기획부터 가구제안 및 이사지원에<br>이르기까지 원스톱 공간서비스를 제공합니다.<br>또한 분야별 전문 파트너사와 긴밀히 협력하며<br>임직원 VOC 수집, 이용자 패턴 분석 등을 통해<br>더 나은 업무공간을 만들어 나갑니다.</p>
                </li>
                <li class="about__item about__item--safe">
                  <h5 class="about__title">시스템/안전</h5>
                  <p class="about__desc">전 사업장을 아우르는 통합 보안, 결제 및 AV시스템<br>을 설계·구축하고 운영합니다. Robot, Face Sign<br>등 네이버 신기술과 기존 물리적 시스템이 안정적으<br>로 연동/운영될 수 있도록 유관부서와 함께 검토하<br>고 지원합니다. 임직원이 안전한 환경에서 업무할<br>수 있도록 산업안전 및 산업보건관리 등 법적 사항<br>을 준수 할 뿐만 아니라, 다양한 안전 예방 프로그램<br>을 선제적 으로 기획하고 실행합니다.</p>
                </li>
              </ul>
            </section>
            <button class="popup-section__button-close" type="button" aria-label="닫기"></button>
            <button class="popup-section__button-next" type="button" aria-label="다음"></button>
        </div>
      </div>

      <div class="layer-popup__inner">
        <div id="Architecture" class="popup popup__architecture">
            <div class="intro">
              <h3 class="intro__title">Architecture &amp;<br>Space Experience<br>Service</h3>
              <p class="intro__desc">네이버의 가치와 철학을 담은 공간 경험과, 네이버만의 기술력을 통한<br>전문적인 설계/시공 서비스를 제공합니다.</p>
            </div>
            <div class="recruit-wrap">
              <a href="https://recruit.naverins.com/" class="recruit-link" target="_blank" title="새창열기">채용 바로가기</a>
            </div>
            <section class="about">
              <ul class="about__list">
                <li class="about__item about__item--plan">
                  <h5 class="about__title">기획/설계</h5>
                  <p class="about__desc">네이버 건축 및 공간의 기획-설계-시공-운영에<br> 이르는 전과정에 대한 디자인을 총괄합니다.<br>공간 사용자의 경험을 시뮬레이션하여 네이버의<br>가치와 철학을 공간에 담아냅니다. 공간에 대한<br>끊임없는 연구와 4차 산업혁명 기술을 녹인<br>과감한 도전과 실험을 통해 미래오피스의 새로운<br>비전을 제시합니다.</p>
                </li>
                <li class="about__item about__item--construct">
                  <h5 class="about__title">시공</h5>
                  <p class="about__desc">건축/공간 구축 시 공사 전과정에서의 ‘안전’을<br>최우선 가치로 하며, 현장의 운영 방향을 계획하고<br>체계적이고 효율적으로 현장을 관리합니다.<br>투명하고 공정한 현장 운영과 프로젝트 참여자 및<br>부서와의 긴밀한 협업을 통해 최선의 결과물을<br>구현합니다.</p>
                </li>
              </ul>
            </section>
            <button class="popup__button--close" type="button">
              <span class="blind">닫기</span>
            </button>
            <button class="popup__button--next" type="button">
              <span class="blind">다음</span>
            </button>
          </div>
        </div>
     </div>
</div>
<script src="../js/libs/jquery-3.6.1.min.js"></script>
<script src="../js/libs/swiper-bundle.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>