$screen-xsm: 360px;
$screen-sm: 767px;
$screen-md: 1023px;
$screen-lg: 1599px;
$screen-xlg: 1920px;

// color 변수
$color-white: #fff;
$color-black: #000;
$color-green: #03C75A;
$color-black-main: #222222;
$color-grey-bg: #F5F5F5;
$color-grey-heading: #707070;
$color-grey-contact:#ABABAB;
$color-grey-footer: #757575;
$color-grey-text: #999999;
$color-grey-border: #E0E0E0;
$color-header-border: #efefef;
$color-mobile-list : #C2C2C2;
$color-footer-list: #98989898;


$z-index-minus: -1;
$z-index-zero: 0;
$z-index-minimum: 1;

$activeClass: 'is-active';